.VideoCallPage {
  background: black;

  flex-shrink: 0;
  /* flex: 1; */
  /* min-width: 50rem; */
  width: 20rem;
  height: 100vh;
}

.videocall__container {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow-y: auto;
}

.close {
  font-size: 1.9rem;
  margin-top: 8px;
}

.video__header {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid gray; */
  height: 2.95rem;
  color: white;
  padding: 0 0.8rem;
  margin-bottom: 3rem;
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 0;
}

.videocall__setup {
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
}

.video__user {
  background: gray;
  border-radius: 10px;
  color: white;
  margin: 1rem 0;
  padding: 0 0.8rem;
  font-size: 2rem;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
}

.my__video {
  display: flex;
  /* width: 10rem; */
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}

.video__camera {
  /* height: 15rem; */
  /* width: 18rem; */
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
}

.videocall__join {
  margin: 0 0.8rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background: rgb(30, 135, 255);
  color: white;
}

.recipient__video {
  display: flex;
  /* width: 10rem; */
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}
