h1 {
  margin: 0 0;
}

.UserSection {
  display: flex;
  align-items: center;
  padding: 0 0.9rem 0 1.14rem;
  border-bottom: 0.5px solid rgb(230, 230, 230);
  height: 2.95rem;
  font-family: "Open Sans", sans-serif;
}

.user__avatar {
  position: relative;
  background: rgb(0, 81, 255);
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
  font-size: 1.15rem;
  cursor: pointer;
  text-transform: uppercase;
}

.hamburger__icon {
  position: absolute;
  top: 16px;
  left: -7px;
  font-size: 10px;
  padding: 0.1rem 0.2rem;
  background: rgb(233, 233, 233);
  color: gray;
  border-radius: 50%;
}

.userinfo__modal {
  position: absolute;
  top: 40px;
  left: -10px;
  background: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  z-index: 10;

  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  overflow-y: auto;
}

.userinfo__row {
  display: flex;
  background: white;
  height: 60px;
  /* width: 100%; */
  align-items: center;
  padding: 10px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid rgb(240, 240, 240);
  position: sticky;
  top: 0;
  left: 0;
}

.userinfo__avatar {
  background: rgb(35, 107, 241);
  border-radius: 50%;
  padding: 5px 12px;
  margin-right: 15px;
}

.userinfo__column {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
}

.userinfo__name {
  font-size: 13px;
  color: rgb(15, 15, 15);
}

.userinfo__email {
  font-size: 13px;
  color: gray;
}

.userinfo__row2 {
  background: transparent;
  color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  padding: 12px 20px;
  transition: 0.2s ease-in-out;
}
.userinfo__row3 {
  background: white;
  color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  padding: 12px 20px;
  transition: 0.2s ease-in-out;
}

.userinfo__row3border {
  border-top: 1px solid white;
}

.userinfo__row2:hover {
  background: white;
}

.userinfo__row3:hover {
  background: rgb(243, 243, 243);
}

.userinfo__icon2 {
  font-size: 22px;
}

.userinfo__iconname2 {
  font-size: 13.5px;
  font-weight: 400;
  text-transform: capitalize;
  color: rgb(41, 41, 41);
  margin-left: 10px;
  letter-spacing: 1px;
}

.priority__section {
  margin: 0 0.7rem;
  flex-grow: 1;
  cursor: pointer;
}

.priority__text {
  display: flex;
  justify-items: center;
  align-items: center;
}

.priority {
  font-size: 1.25rem;
  margin-right: 0.3rem;
}

.priority__icon {
  font-size: 1.6rem;
  display: flex;
  color: gray;
}

.user__email {
  font-size: 0.7rem;
  color: rgb(85, 85, 85);
}

.right__icon {
  display: flex;
  font-size: 1.7rem;
  cursor: pointer;
}

.margin {
  margin-left: 12px;
}
